# Assignment 1

Answer 1
Expressions= * , - , / , +
values='hello',-87.8,6

Answer 2
String = It is a datatype.Anything which is stored between single ,double quotes and triple quotes
Variables= are the values which store data and help us to process any operation on it .It stores several data types string,integer,float,complex number

Answer 3
The three different data types are 
1-Numerical data type = it accept integer ,float and complex values like 2595,-655,-2.5959,5+6j 
2-Dictionary data type= it accept integer,float,string etc with key values like dict={'a':'this','b':'is','c':1 ,'d':'scsjdc'}
3-Boolean data type= it accept True and False regarding any condition we can use it conditionals and loops too.

In [5]:
#Answer 4 
#Expression contains elements like boolean ,arithmetic values and all logical operator
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
if a<=10:
    c=(a+b)*2
    print(c)
a==10

12
8
20
5.0
24

True

Answer 5
Expression contain arithmetic operations,logical operation and boolean operation but anything written as a code is considered as statement so we can say that expression is as subset of statement

In [6]:
#Answer 6
bacon=22
bacon+1

23

In [10]:
#Answer 7
a='sapm'+'spamspam'
print(a)

b='spam'*3
print(b)

sapmspamspam
spamspamspam

Answer 8
we cannot use 100 or any other numerical value to represent a variable but we can use egg as a variable because python cannot accept numbers but it can accept alphanumeric value as a varible name

In [11]:
#Answer 9
a=595.292
print(int(a))
print(float(a))
print(str(a))

595
595.292
595.292

In [14]:
#Answer10
# because we cannot concatenate different data type for this we can use typecasting
'I have Eaten '+ str(99) +' burritos'

'I have Eaten 99 burritos'